/* PC */
@media (min-width: 1024px) {}

/* Tablet and Mobile */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    #footer .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {}

/* Mobile */
@media (max-width: 739px) {

    /* Common class */
    .s-full-width,
    .s-col-full {
        width: 100%;
    }

    .s-mt-16 {
        margin-top: 16px;
    }

    .s-mt-8 {
        margin-top: 8px;
    }

    /* Header section */
    #header {
        overflow: hidden;
    }

    #header .search-icon {
        display: none;
    }

    #header .mobile-menu-icon {
        display: inline-block;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav>li {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    /* About section */
    #content .member-img {
        width: 60%;
    }
}